:root {
  --bg: #111111;
  --bg-dark: #080808;
  --card: #1a1a1a;

  --accent: #00e5ff;
  --accent-hover: #00b8cc;

  --text: #f1f1f1;
  --muted: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

html {
  font-size: 62.5%;
}

.layout {
  display: flex;
  margin-top: 60px;
  margin-left: 179px;
  min-height: calc(100vh - 64px);
  justify-content: center;
  /* align-items: center; */
}
