.editor {
  margin: 30px 0;
  width: 100%;
  max-width: 1100px;
  min-width: 0;
}

/* EDITOR */

.editor :global(.mdxeditor) {
  --basePageBg: var(--card);
  --baseBg: var(--bg-dark);
  --baseBgHover: #1a1a1a;
  --baseBgActive: #222222;
  --baseText: var(--text);
  --baseTextContrast: var(--text);

  color: var(--text);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 8px;
}

/* CONTEÚDO */

.editor :global(.mdxeditor-root-contenteditable) {
  background: var(--card);
  color: var(--text);
  min-height: 400px;
  padding: 20px;
  font-size: 1.4rem;
}

/* TEXTOS */

.editor :global(.mdxeditor-root-contenteditable p),
.editor :global(.mdxeditor-root-contenteditable li) {
  color: var(--text);
}

.editor :global(.mdxeditor-root-contenteditable h1),
.editor :global(.mdxeditor-root-contenteditable h2),
.editor :global(.mdxeditor-root-contenteditable h3) {
  color: var(--text);
}

.editor :global(.mdxeditor-root-contenteditable a) {
  color: var(--accent);
}

/* LISTAS */

.editor :global(.mdxeditor-root-contenteditable ul) {
  padding-left: 1.85rem;
}

.editor :global(.mdxeditor-root-contenteditable ol) {
  padding-left: 1.5rem;
}

/* QUOTE */

.editor :global(.mdxeditor-root-contenteditable blockquote) {
  color: var(--muted);
  border-left-color: var(--muted);
}

/* TOOLBAR */

.editor :global(.mdxeditor-toolbar) {
  background: var(--bg-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.toolbar {
  background: var(--bg-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* BOTÕES */

.editor :global(.mdxeditor-toolbar button) {
  color: var(--text);
}

.editor :global(.mdxeditor-toolbar button:hover) {
  background: var(--card);
}

.editor :global(.mdxeditor-toolbar svg) {
  color: var(--text);
}

/* BOTÕES DISABLED  */

.editor :global(.mdxeditor-toolbar button:disabled) {
  background-color: transparent;
  color: var(--muted);
  opacity: 0.45;
  cursor: not-allowed;
}

.editor :global(.mdxeditor-toolbar button:disabled svg) {
  color: var(--muted);
}

/* BOTÕES ATIVOS */

.editor :global(.mdxeditor-toolbar button[data-state='on']) {
  color: var(--accent);
  background-color: rgba(0, 229, 255, 0.15);
}

.editor :global(.mdxeditor-toolbar button[data-state='on'] svg) {
  color: var(--accent);
}

.editor :global(.mdxeditor-select-item) {
  color: var(--text);
}

.editor :global(.mdxeditor-select-item:hover) {
  background: var(--card);
  color: var(--text);
}

/* DROPDOWN DO SELECT  */

:global(.mdxeditor-select-content) {
  --basePageBg: var(--bg-dark);

  --baseBg: rgba(0, 229, 255, 0.12);
  --baseBgHover: var(--card);
  --baseBgActive: rgba(0, 229, 255, 0.12);

  --baseText: var(--text);
  --baseTextContrast: var(--accent);

  background-color: var(--bg-dark);
  color: var(--text);
  cursor: pointer;
}
